@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.scale-in-ver-top {
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}

.scale-in-ver-top1 {
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
}

.scale-in-ver-top2 {
  -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
header {
  padding: 1rem;
  width: 100%;
  max-width: 290px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  overflow: hidden;
  background: #040b14;
  /* .abierto {
      color: $color-acento;
  } */
}
header .perfil {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border: solid 8px rgba(94, 94, 94, 0.4039215686);
  overflow: hidden;
  margin: 0 auto;
}
header .perfil img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
header .nav {
  display: flex;
  flex-direction: column;
}
header .nav .nav__logo {
  margin: 0 auto;
}
header .nav .nav__logo a {
  text-decoration: none;
}
header .nav .nav__logo a .logo {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #ffffff;
}
header .nav .nav__logo a .logo span {
  color: #0062ff;
}
header .nav .opciones {
  display: flex;
  justify-content: center;
}
header .nav .opciones .idioma {
  margin: 1rem 0.5rem;
  height: 30px;
  transition: all 0.5s;
  cursor: pointer;
  border: solid 2px #4f4f4f;
  border-radius: 100%;
}
header .nav .opciones .idioma:hover {
  border: solid 2px #ffffff;
}
header .nav .nav__links {
  display: flex;
  flex-direction: column;
}
header .nav .nav__links .nav__link {
  margin: 1rem 0;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  transition: color 0.5s;
  width: 50%;
}
header .nav .nav__links .nav__link:hover {
  color: #0062ff;
}
header .bx-menu-alt-right {
  font-size: 24px;
  cursor: pointer;
  transition: all 0.5s;
}

.main {
  width: 100%;
  overflow-x: hidden;
  transition: 0.5s;
}

.hero {
  height: 100vh;
  background: url("../img/foto2.2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero .titulo {
  margin: 0;
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
  padding: 3rem;
  border-radius: 100px;
  backdrop-filter: blur(3px);
}
.hero a {
  text-decoration: none;
  color: #0062ff;
  padding: 1rem;
  margin-left: 3rem;
  background-color: #fff;
  border-radius: 40px;
  transition: all 0.3s;
}
.hero a span {
  font-weight: bold;
}
.hero a:hover {
  background-color: #0062ff;
  color: #fff;
}

.footer {
  background: #040b14;
}
.footer h2 {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  display: flex;
  background-color: #e4e4e4;
  overflow-x: hidden;
}

.conatinerApp {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.conatinerApp .bx-menu-alt-right {
  position: fixed;
  right: 3rem;
  top: 3rem;
  font-size: 2rem;
  color: #fff;
}

/*# sourceMappingURL=estilos.css.map */
