header {
    padding: 1rem;
    width: 100%;
    max-width: 290px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    overflow: hidden;
    background: #040b14;
    .perfil{
        height: 120px;
        width: 120px;
        border-radius: 100%;
        border: solid 8px #5e5e5e67;
        overflow: hidden;
        margin: 0 auto;
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .nav {
        display: flex;
        flex-direction: column;
        .nav__logo {
            margin: 0 auto;
            a {
                text-decoration: none;
                .logo {
                    margin-top: 1rem;
                    font-size: 1.8rem;
                    font-weight: 300;
                    color: #ffffff;
                    span {
                        color: $color-acento;
                    }
                }
            }
        }
        .opciones{
            display: flex;
            justify-content: center;
            .idioma{
                margin: 1rem .5rem;
                height: 30px;
                transition: all .5s;
                cursor: pointer;
                border: solid 2px #4f4f4f;
                border-radius: 100%;
            }
            .idioma:hover{
                border: solid 2px #ffffff;
            }
        }
        .nav__links {
            display: flex;
            flex-direction: column;
            .nav__link {
                margin: 1rem 0;
                text-decoration: none;
                font-weight: 500;
                color: #ffffff;
                transition: color .5s;
                width: 50%;
            }

            .nav__link:hover {
                color: $color-acento;
            }
        }
    }
    .bx-menu-alt-right {
        font-size: 24px;
        cursor: pointer;
        transition: all .5s;
    }
    /* .abierto {
        color: $color-acento;
    } */
}