header {
    position: fixed;
    padding: .5rem;
    width: 100%;
    display: flex;
    align-items: center;
    background: #0000001a;

    .perfil {
        height: 80px;
        width: 80px;
        border-radius: 100%;
        border: solid 8px #5e5e5e67;
        overflow: hidden;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav__logo {
            a {
                text-decoration: none;

                .logo {
                    margin: 0 1rem;
                    font-size: 1.8rem;
                    font-weight: 300;
                    color: #ffffff;

                    span {
                        color: $color-acento;
                        font-weight: 900;
                    }
                }
            }
        }

        .nav__links {
            display: flex;
            align-items: center;
            .nav__link {
                margin: 0 1rem;
                text-decoration: none;
                font-weight: 500;
                color: #ffffff;
                transition: background .5s;
                width: 50%;
                background: transparent;
                border-radius: 30px;
                padding: 0.5rem;
            }

            .nav__link:hover {
                background: #0062ffc2;
            }
        }
        .opciones {
            display: flex;
            .idioma {
                margin: 1rem .5rem;
                height: 30px;
                transition: all .5s;
                cursor: pointer;
                border: solid 2px #4f4f4f;
                border-radius: 100%;
            }

            .idioma:hover {
                border: solid 2px #ffffff;
            }
        }
    }

    .bx-menu-alt-right {
        font-size: 24px;
        cursor: pointer;
        transition: all .5s;
    }

    /* .abierto {
        color: $color-acento;
    } */
}