.hero{
    height: 100vh;
    background: url("../img/foto2.2.jpeg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .titulo{
        margin: 0;
        color: #fff;
        font-size: 4rem;
        font-weight: 500;
        padding: 3rem;
        border-radius: 100px;
        backdrop-filter: blur(3px);
    }
    a{
        text-decoration: none;
        color: $color-acento;
        padding: 1rem;
        margin-left: 3rem;
        background-color: #fff;
        border-radius: 40px;
        transition: all .3s;
        span{
            font-weight: bold;
        }
    }
    a:hover{
        background-color: $color-acento;
        color: #fff;
    }
}