header nav {
  padding: .5rem;
  background-color: #0000ff71;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header nav .nav-titular {
    display: flex;
    align-items: center; }
    header nav .nav-titular a img {
      height: 3rem;
      transition: all .4s; }
    header nav .nav-titular a img:hover {
      transform: rotate(180deg); }
    header nav .nav-titular h1 {
      color: #ffffff;
      font-family: "Rajdhani", sans-serif;
      font-weight: 600; }
  header nav .nav-links {
    display: flex;
    align-items: center; }
    header nav .nav-links a i {
      color: #ffffff;
      font-size: 2rem;
      padding: 0.5rem;
      transition: all .4s; }
    header nav .nav-links a i:hover {
      background-color: #000000; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

body {
  background-image: linear-gradient(to right, #1fefe2 0%, #0083f5 100%);
  font-family: "Roboto", sans-serif; }
