@import 'variables';
@import 'header';
@import 'main';
@import 'footer';
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    background-image: linear-gradient(to right, #0060b5 0%, #004d91 100%);
    font-family: $fuente-principal;
}