header {
    nav {
        padding: .5rem;
        position: fixed;
        width: 100%;
        //background-color: #0000ff71;
        background-color: #3d3d3dab;
        @include flex;
        justify-content: space-between;

        .nav-titular {
            @include flex;
            @include sin-margen;

            a {
                @include sin-margen;
                img {
                    height: 3rem;
                    transition: all .4s;
                }

                img:hover {
                    transform: rotate(180deg);
                }
            }

            h1 {
                color: #ffffff;
                font-family: $fuente-secundaria;
                font-weight: 600;
                padding-left: .5rem;
            }
        }

        .nav-links {
            @include flex;
            @include sin-margen;

            a {
                @include sin-margen;
                i {
                    color: #ffffff;
                    font-size: 1.5rem;
                    padding: 0.5rem;
                    transition: all .4s;
                }

                i:hover {
                    background-color: #000000;
                }
            }
        }

    }
}