header {
    nav {
        padding: 0 .5rem;
        background-color: $fondo-oscuro;
        @include flex;
        justify-content: space-between;

        .nav-titular {
            @include flex;
            @include sin-margen;

            a {
                @include sin-margen;
                img {
                    height: 3rem;
                    transition: all .4s;
                }

                img:hover {
                    filter: drop-shadow(0px 0px 1px #ffffff);
                }
            }

            h1 {
                color: #ffffff;
                font-family: $fuente-secundaria;
                font-weight: 600;
                padding-left: .5rem;
            }
        }

        .nav-links {
            @include flex;
            @include sin-margen;

            a {
                @include sin-margen;
                i {
                    color: #ffffff;
                    font-size: 1.5rem;
                    padding: 0.5rem;
                    transition: all .4s;
                }

                i:hover {
                    background-color: #000000;
                }
            }
        }

    }
}