@import 'variables';
@import 'header';
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    background-image: linear-gradient(to right, #1fefe2 0%, #0083f5 100%);
    font-family: $fuente-principal;
}